<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Community Pantry Items</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1><%= user.username %>'s Pantry Items</h1>    
    <% if (pantry.length === 0) { %>
      <p>No pantry items found.</p>
    <% } else { %>
      <ul>
        <% pantry.forEach(food => { %>
          <li><strong><%= food.name %></strong> - <%= food.quantity %></li>
        <% }) %>
      </ul>
    <% } %>
  </body>
  <a href="/users/">Back</a>
</html>